body, html {
    display: flex;
    justify-content: center;
   
  }
  
  h1 {
    color: rgb(4, 158, 235);
    margin-left: 20px;
  }

  p {
    color: yellow;
    
  }

  .betaling {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }

 .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(6, 64, 132) , rgb(117, 111, 111));
  padding: 20px;
  width: 800px;
 }

 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

 }

 h1 {
  font-family: 'Courier New', Courier, monospace;
 }

 p {
  font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
 }

 .betaling p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }
button { 
background-color: aquamarine;
border-radius: 25px;
width: 130px;
 }

 button p {
  color:rgb(6, 28, 9);
 }